<MudNavMenu>
    <MudNavLink Href="/home" Icon="@Icons.Material.Outlined.Home">
        Home
    </MudNavLink>
    <MudNavLink Href="/surfboard" Icon="@Icons.Material.Outlined.Dashboard">
        Surfboards
    </MudNavLink>
    <MudNavLink Href="/rentals" Icon="@Icons.Material.Outlined.CleanHands">
        Rentals
    </MudNavLink>
    <MudNavLink Href="/weatherforecasts" Icon="@Icons.Material.Outlined.WbSunny">
        Weather
    </MudNavLink>
    <MudNavLink Href="/chat" Icon="@Icons.Material.Outlined.Chat">
        Chat
    </MudNavLink>

    @*<MudNavLink Href="/chat" Icon="@Icons.Material.Outlined.Dashboard">
        Chat
    </MudNavLink>
    <MudNavLink Href="https://codewithmukesh.com/blog/realtime-chat-application-with-blazor/" Target="_blank" Icon="@Icons.Material.Outlined.QuestionAnswer">
        Documentation / Guide
    </MudNavLink>*@
</MudNavMenu>


@*
    ORIGINAL NAV BAR


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
              <div class="nav-item px-3">
            <NavLink class="nav-link" href="surfboard">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Surfboards
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rentals">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rentals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weatherforecasts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weatherforecast
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chat
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}*@
